<h2>
  {{name}}
</h2>
<div *ngIf="system.star">
  <ssv-system-display [system]="system"></ssv-system-display>
  <br>
  <strong>Star: {{system.star.name}}</strong><br>
  <span *ngIf="system.star.mass">Mass: {{system.star.mass}} M<sub>☉</sub><br></span>
  <span *ngIf="system.star.radius">Radius: {{system.star.radius}} R<sub>☉</sub><br></span>
  <span *ngIf="system.star.temperature">Temperature: {{system.star.temperature}} K<br></span>
  <span *ngIf="system.star.luminosity">Luminosity: {{system.star.luminosity | number:'1.1-5'}} L<sub>☉</sub><br></span>
  <br>
</div>
Planets:
<ol>
  <li *ngFor="let planet of system.planets">
    <strong>{{planet.name}}</strong> | 
    <span *ngIf="planet.mass">Mass: {{planet.mass | number:'1.1-1'}} M<sub>⊕</sub> |</span>
    <span *ngIf="planet.radius">Radius: {{planet.radius | number:'1.1-1'}} R<sub>⊕</sub> |</span>
    <span *ngIf="planet.period">Period: {{planet.period | number:'1.1-1'}} days |</span>
    <span *ngIf="planet.semiMajorAxis">Distance: {{planet.semiMajorAxis | number:'1.1-3'}} AU |</span>
    <span *ngIf="planet.temperature">Temperature: {{planet.temperature | number:'1.0-0'}} K</span>
  </li>
</ol>